@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.15s;
}
header{
    background-color: #0D1213;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.rightHeader{
    display: flex;
    flex-direction: row;
    color: white;
    align-items: center;
    width: 37%;
}
.headerLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.header{
    color: white;
    text-decoration: none;
}
.header:hover{
    color: grey;
}
.logoImg{
    width: 150px;
    height: 100px; 
}

.midHeader{
    margin-right: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.search{
    background-color: #2E302E;
    border: none;
    border-radius: 5px 0 0 5px;
    width: 300px;
    color: white;
}

.searchLogo{
    color: aliceblue;
    cursor: pointer;
}

.leftHeader{
    display: flex;
    justify-content: space-between;
    width: 6%;
    align-items: center;

}

.notifications{
    color: white;
    cursor: pointer;
}

.notifications:hover{
    transform: scale(1.1);
    color: yellow;
}

.profilePic{
    width: 30px;
    height: 30px;
    padding-right: 10px;
    padding-top: 5px;
    cursor: pointer;
}

.root{
    Box-sizing: border-box;
    Margin:0;
    Padding:0;
    Scroll-behavior:smooth;
    background-color: #2D2F32;
    color: white;
    }

    .showcase{
        display: flex;
        justify-content: space-between;
    }

    .showImg{
        width: 500px;
        height: 400px;
         display: flex;
        justify-content: flex-end;
        border-radius: 0 0 0 10px;
        transition: none;
    }

    .showName{
        display: flex;
        justify-content: center;
        width: 50%;
        margin-bottom: 40px;
        flex-direction: column;
    }

    .showText{
        color: white;
        font-size: 50px;
        display: flex;
        justify-content: center;
        margin-right: 120px;
    }

    .rating{
        width: 100px;
        margin-left: 50px;
    }

    .showDescription{
        color: white;
        width: 60%;
        margin-left: 50px;
    }

    .playOrmore{
        display: flex;
        margin-top: 60px;
        margin-left: 80px;
    }

    .moreinfo{
        margin-left: 10px;
        cursor: pointer;
    }

    .play{
        cursor: pointer;
    }

    .play:hover{
        transform: scale(1.05);
    }



    .moreinfo:hover{
        transform: scale(1.05);
    }


    .showsList{
        margin-top: 40px;
        margin-left: 30px;
        margin-right: 30px;
        display: flex;
        flex-direction: column;
        transition: 3s;
    }

    .showsRow1{
        display: flex;
        justify-content: space-between;
    }

    .showsRow2{
        display: flex;
        justify-content: space-between;
    }

    .showsRow3{
        display: flex;
        justify-content: space-between;
    }

    .row2{
        margin-top: 30px;
    }

    .row3{
        margin-top: 30px;
    }
    .showPic{
        width: 210px;
        height: 120px;
        border-radius: 10px;
        cursor: pointer;
    }

    .showPic:hover{
      transform: scale(1.1);
    }

    .genra{
        padding-bottom: 10px;
    }


    
  
    